In [ ]:
pip install plotly

In [1]:
import pandas as pd
import datetime
from datetime import date , timedelta

import plotly.graph_objects as go
import plotly.express as px

import plotly.io as pio


pio.templates.default = "plotly_white"

In [3]:
#1)Read the data and display the first 100 rows from the data

data = pd.read_excel('TWTR.xlsx')
print(data.head(100))

         Date       Open       High        Low      Close  Adj Close  \
0  2013-11-07  45.099998  50.090000  44.000000  44.900002  44.900002
1  2013-11-08  45.930000  46.939999  40.685001  41.650002  41.650002
2  2013-11-11  40.500000  43.000000  39.400002  42.900002  42.900002
3  2013-11-12  43.660000  43.779999  41.830002  41.900002  41.900002
4  2013-11-13  41.029999  42.869999  40.759998  42.599998  42.599998
..        ...        ...        ...        ...        ...        ...
95 2014-03-27  45.090000  46.400002  43.310001  46.320000  46.320000
96 2014-03-28  46.650002  47.340000  45.700001  47.299999  47.299999
97 2014-03-31  47.549999  47.750000  46.430000  46.669998  46.669998
98 2014-04-01  46.709999  47.590000  46.180000  46.980000  46.980000
99 2014-04-02  47.400002  47.439999  45.509998  45.730000  45.730000

         Volume
0   117701670.0
1    27925307.0
2    16113941.0
3     6316755.0
4     8688325.0
..          ...
95   15507597.0
96    9610491.0
97    5794497.0
98    6916147.0
99    7911260.0

[100 rows x 7 columns]

In [4]:
#2)Give the column insights 

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2264 non-null   datetime64[ns]
 1   Open       2259 non-null   float64
 2   High       2259 non-null   float64
 3   Low        2259 non-null   float64
 4   Close      2259 non-null   float64
 5   Adj Close  2259 non-null   float64
 6   Volume     2259 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 123.9 KB
None

In [5]:
#3)Check whether this dataset contains any null values or not if it is there then remove the null values from it 

print(data.isnull().sum())

Date         0
Open         5
High         5
Low          5
Close        5
Adj Close    5
Volume       5
dtype: int64

In [6]:
data = data.dropna()
print(data.head(100))

         Date       Open       High        Low      Close  Adj Close  \
0  2013-11-07  45.099998  50.090000  44.000000  44.900002  44.900002
1  2013-11-08  45.930000  46.939999  40.685001  41.650002  41.650002
2  2013-11-11  40.500000  43.000000  39.400002  42.900002  42.900002
3  2013-11-12  43.660000  43.779999  41.830002  41.900002  41.900002
4  2013-11-13  41.029999  42.869999  40.759998  42.599998  42.599998
..        ...        ...        ...        ...        ...        ...
95 2014-03-27  45.090000  46.400002  43.310001  46.320000  46.320000
96 2014-03-28  46.650002  47.340000  45.700001  47.299999  47.299999
97 2014-03-31  47.549999  47.750000  46.430000  46.669998  46.669998
98 2014-04-01  46.709999  47.590000  46.180000  46.980000  46.980000
99 2014-04-02  47.400002  47.439999  45.509998  45.730000  45.730000

         Volume
0   117701670.0
1    27925307.0
2    16113941.0
3     6316755.0
4     8688325.0
..          ...
95   15507597.0
96    9610491.0
97    5794497.0
98    6916147.0
99    7911260.0

[100 rows x 7 columns]

In [7]:
print(data.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
#4)Find the statistical description of the data.

print(data.describe())

              Open         High          Low        Close    Adj Close  \
count  2259.000000  2259.000000  2259.000000  2259.000000  2259.000000
mean     36.020286    36.699881    35.339465    36.003625    36.003625
std      14.118463    14.372057    13.828724    14.089989    14.089989
min      13.950000    14.220000    13.725000    14.010000    14.010000
25%      25.550000    26.215001    24.912501    25.410000    25.410000
50%      35.419998    36.099998    34.820000    35.490002    35.490002
75%      44.205000    45.015000    43.327501    44.135000    44.135000
max      78.360001    80.750000    76.050003    77.629997    77.629997

             Volume
count  2.259000e+03
mean   2.175186e+07
std    1.909988e+07
min    0.000000e+00
25%    1.233530e+07
50%    1.691305e+07
75%    2.428082e+07
max    2.692131e+08

In [ ]:
#5)Find the missing values in the data 

print(data.isnull().sum())

In [ ]:
get_ipython().system('pip install statsmodels')

In [ ]:
#6)Give me the Z-test O/R T-test over High, low, and close columns and see if the null hypothesis gets rejected or accepted

#Program for z-test

import statistics as st
from statsmodels.stats import weightstats as stests
from numpy import random

high = data['High']
print('Data=' ,high)
high_mean = st.mean(high)
print("Mean Data = " , high_mean)
high_stdev = st.stdev(high)
print("Standard Deviation" , high_stdev)

ztest  , pval = stests.ztest(high , value = 30)
print("Z-test Score" , ztest)
print("p-Value " , pval)

if pval<0.05:
    print("Reject Null hypothesis")
else:
    print("Accept the Null hypothesis")

In [ ]:
#program for T-test

from scipy.stats import ttest_1samp
import statistics as st



high = data['High']
print('Data=' ,high)
high_mean = st.mean(high)
print("Mean Data = " , high_mean)
high_stdev = st.stdev(high)
print("Standard Deviation" , high_stdev)

t_test  , pval = ttest_1samp(high , 50)
print("T-test Score" , t_test)
print("p-Value " , pval)

if pval<0.05:
    print("Reject Null hypothesis")
else:
    print("Accept the Null hypothesis")

In [ ]:
#7)By using ANOVA find the Fvalue and Pvalue from the data and see its Acceptance and rejection of the Null hypothesis

import pandas as pd
import scipy.stats
import io
data = pd.read_csv('twtr.csv')
print(data.head(5))
data = data.dropna()

grp1= data['High']
grp2 = data['Low']
print(grp1.head(5))
print(grp2.head(5))

F , pval = scipy.stats.f_oneway(grp1 , grp2)
print(F)
print(pval)

if  pval<0.05:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

In [ ]:
#8)Check if the data is dependent or independent by using the chi-square method

from scipy import stats
datas = {'High':data['High'] , 'Low':data['Low']}
print(datas)
chisq  , pval = scipy.stats.chisquare(datas['Low'])

alpha = 0.05
print("Chi-Square value =" , chisq)

print("p-value is " , pval)


if pval<alpha:
    print("Dependent {Reject Ho}")
else:
    print("Independent{Accept the Ho}")

In [10]:
#Outliers --

from scipy import stats
import numpy as np
import pandas as pd

mu  , sigma = 100 , 5

array = np.random.normal(mu , sigma , 200)

array[90] = 180
array[50] = -40

df = pd.DataFrame(array , columns=['Data'])
print(df)

z = np.abs(stats.zscore(df))

print(z)


print("Nos of outliers=" ,df[z>3].count())
print("Outliers are:",df[(z>3)|(z<-3)])
df_new =  df[(z>-3)&(z<3)]

print(df_new)
print(df.shape)
print(df_new.shape)

           Data
0     95.350438
1    107.494255
2    105.492785
3    101.953035
4     93.874699
..          ...
195  103.641654
196  112.747198
197  101.308573
198   91.422049
199  102.029842

[200 rows x 1 columns]
         Data
0    0.375779
1    0.595733
2    0.435615
3    0.152432
4    0.493839
..        ...
195  0.287523
196  1.015972
197  0.100875
198  0.690052
199  0.158577

[200 rows x 1 columns]
Nos of outliers= Data    2
dtype: int64
Outliers are:      Data
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
..    ...
195   NaN
196   NaN
197   NaN
198   NaN
199   NaN

[200 rows x 1 columns]
           Data
0     95.350438
1    107.494255
2    105.492785
3    101.953035
4     93.874699
..          ...
195  103.641654
196  112.747198
197  101.308573
198   91.422049
199  102.029842

[200 rows x 1 columns]
(200, 1)
(200, 1)

In [ ]:
data = pd.read_excel('twtr.xlsx')
print(data.head(100)

In [ ]:
print(data.isnull().sum())

In [ ]:
data = data.dropna()
print(data.head(50))

In [ ]:
#11)Show the Twitter stock prices over the years  and give a conclusion.

figure = go.Figure(data = [go.Candlestick(x = data["Date"],
                                        open =data["Open"],
                                       high = data["High"],
                                       low = data["Low"],
                                       close = data["Close"])])

figure.update_layout(title="Twitter Stcok Prices Over the Years" , xaxis_rangeslider_visible=False)

figure.show()

In [ ]:
#12)Now compare the close vs date column for Twitter prices over the years.

figure = px.bar(data , 
               x = "Date",
               y = "Close",
               color = "Close")

figure.update_xaxes(rangeslider_visible= True)
figure.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(16,10))

sns.heatmap(data.isnull() , cbar = False , cmap="YlGnBu")

plt.show()

In [ ]:
#14)Assign buttons to control time periods.  Add the  buttons to analyze the stock prices of Twitter in different time periods:

figure = px.bar(data , x = "Date" , y ="Close" , color = "Close")
figure.update_xaxes(rangeslider_visible = True)

figure.update_layout(title = "Twitter Stock prices over the years" , xaxis_rangeslider_visible=False)

figure.update_xaxes(
    
    
    
    
    
    
    
    rangeselector = dict(
        buttons = list([
            
            dict(count = 1 ,label = "1m" , step ="month" ,stepmode ="backward"),
            dict(count = 6 ,label = "6m" , step ="month" ,stepmode ="backward"),
            dict(count = 3 ,label = "3m" , step ="month" ,stepmode ="backward"),
            dict(count = 1 ,label = "1y" , step ="year" ,stepmode ="backward"),
            dict(count = 2 ,label = "2y" , step ="year" ,stepmode ="backward"),
            dict(step="all"),
                
            
        ])
    
    
    )

)


figure.show()

In [ ]:
#15)Give the complete timeline of Twitter in the stock market. (Line Graph)

data["Date"] = pd.to_datetime(data["Date"], format='%Y-%m-%d')
data['Year'] = data['Date'].dt.year

data["Month"] = data["Date"].dt.month




fig = px.line(data , 
             x="Month",
             y="Close",
             color ="Year",
             title ="Complete timeline of Twitter")

fig.show()

In [ ]:
import plotly.figure_factory as ff
import numpy as np
x = np.random.rand(15,12)
fig = ff.create_dendrogram(x)
fig.update_layout({'plot_bgcolor':'white'})
fig.show()